/* Costume Properties[Assets] */
:root {
    --bold-weight: 700;
    --light-weight: 400;
    --primary-color: hsl(185, 75%, 39%);
    --bold-font-color: hsl(229, 23%, 23%);
    --light-font-color: hsl(227, 10%, 46%);
}

/* Font Face */
@font-face {
    font-family: 'Kumbh Sans';
    src: url(KumbhSans-VariableFont_wght.ttf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   min-height: 100vh;
}

/* Profile Card */
.profile-card {
    width: 320px;
    height: 420px;
    font-size: 1.15rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.profile-card .profile-background {
    border-radius: 10px 10px 0 0;
}

.profile-card .profile-photo img {
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -3em;
}

/* Profil Information */
.profile-information h1,h2 {
    font-weight: var(--bold-weight);
    color: var(--bold-font-color);
    font-size: 1em;
}

.profile-information span,p {
    font-weight: var(--light-weight);
    color: var(--light-font-color);
}

.profile-information .profile-name {
    width: 70%;
    margin: 1.5em auto;
}

.profile-name h3 {
    margin: .75em 0;
}


/* Profile-Stats */
.profile-information .profile-stats {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
    text-align: center;
}

.profile-stats p {
    padding: .5em 0;
}

/*  */

